.listAuthModal {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #000000;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 283px;
  width: 50%;
}
.listAuthModal h4,p{
    font-size: 12px;
}
.mngorder {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #000000;
  list-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  padding: 27px 34px 27px 40px;
  font-size: 10px;
  line-height: 16px;
}
.userAuthIcons {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #000000;
  list-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background-image: url("../../img/userAuthSpritev3.png");
  vertical-align: sub;
  display: inline-block;
  height: 63px;
  width: 65px;
  float: left;
  margin-right: 15px;
  margin-top: -7px;
  background-position: 4px 116px;
}



.userAuth-card{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 340px;
    background: #fff;
    border-radius: 5px;
    padding: 29px;
    padding-top: 25px;
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.05),0 3px 6px rgba(0,0,0,0.15);
    position: fixed;
    top: 50%;
    left: calc(50% - -174px);
    min-height: 405px;
    -webkit-transform: translate(-50%, -50%);
}
.shortlistitm{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    list-style: none;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    padding: 27px 34px 27px 40px;
    font-size: 11px;
    line-height: 16px;
}

.shortlistitm .userAuthIcons{
   
    background-position: -59px 116px;
   
}

.offrupdate{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #000000;
    list-style: none;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    padding: 27px 34px 27px 40px;
    font-size: 11px;
    line-height: 16px;
}
.offrupdate i {
    background-position: -130px 116px;
}

