.overallcontainer {
    max-width: 1402px;
    display: flex;
    margin: auto;
}

.filterarea {
    max-width: 280px;
    min-width: 205px;
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    border-right: 1px solid #999;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.filterarea>ul {
    list-style: none;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.filterarea>ul>li>ul {
    list-style: none;
    width: 100%;
    color: #e40046;
    font-size: 12px;
}

.filterarea>hr {
    border: 0;
    height: 2px;
    background-color: #f7f7f7;
}

.filterarea>div>h4 {
    color: #5a5a59;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
}

.filterarea>div:nth-of-type(1)>input {
    width: 100%;
}

.filterarea>div:nth-of-type(1)>div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

.filterarea>div:nth-of-type(1)>div:nth-of-type(2) {
    border: #e5e5e5;
    border-radius: 5px;
}

.filterarea>div {
    font-size: 13px;
}

.filterarea>div>div>p {
    padding-left: 20px;
    cursor: pointer;
}


.heading {
    font-size: 13px;
}

.heading>p {
    color: #5a5a59;
    font-size: 23px;
}

.heading>p>span {
    font-size: 13px;
}

.productarea>div:nth-of-type(2) {
    display: flex;
    align-items: center;
}

.productarea>div:nth-of-type(2)>span {
    margin-left: 30px;
    color: #e40046;
}

.productarea {
    width: 100%;
    min-width: 780px;
    background-color: white;
    padding: 15px;
    color: #999;
}

.productcontainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
    margin: auto;
}

.productcontainer>div {
    min-width: 205px;
    max-width: 242px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 13px;
    color: #999;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.productcontainer>div:hover {
    box-shadow: 0 10px 20px 5px rgba(167, 165, 165, 0.253);
    cursor: pointer;
    border-radius: 5px;
}

.productcontainer>div>img {
    width: 100%;
}

.productcontainer>div>div:nth-of-type(1) {
    height: 36px;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    line-height: 18px;
}
