*{
    font-family: 'Abel', sans-serif;
}
.main{
    width: 100%;
    background-color: rgb(247,247,247);
}
.cont{
    width: 90%;
    display: flex;
    margin: auto;
    background-color: white;
    /* height: 1000px; */
    border: 1px solid rgb(247,247,247);
    position: relative;
}
.cont > div:nth-child(1){
    width: 43%;  
    height: 400px;
}

.cont > div:nth-child(2){
    width: 58%;
    padding: 2rem;
    border-left: 1px solid rgb(209, 206, 206);
}

.heading{
    display: flex;
    border-bottom: 1px solid rgb(209, 206, 206);
    padding-bottom: 0.5rem;
}
.heading > div:nth-child(1){
    width: 95%;  
    margin-right: 30px;
}
.heading > div:nth-child(1) > p{
    font-size: 1.5rem;
}
.heading > div:nth-child(2){
    width: 5%;
    display: flex;
}
.heading > div:nth-child(2) > div{
    text-align: center;
}
.headingMeta{
    color: rgb(153,156,173);
}
.headingMeta > p{
    padding: 0 0.5rem;
    color: rgb(37,187,244);
    cursor: pointer;
}
/* .heading > div:nth-child(2) > div:nth-child(1){
    flex-basis: 60%;
    border: 1px solid rgb(82, 81, 81);
    border-radius: 5px;
    height: 50px;
} */
.heading > div:nth-child(2) > div:nth-child(1){
    flex-basis: 40%;
}

.info > div{
    display: flex;
    width: 100%;
    margin-top: 0.6rem;
    font-size: 0.9rem;
}
.rs{
    color:red;
    font-size: 1.6rem;
    margin-right:1rem
}
.price > div:nth-child(1){
    width: 40%;
    float: left;
    color: rgb(193,193,189);
}
.price > div:nth-child(2){
    width: 50%;
    margin-left: auto;
    color: rgb(114, 114, 114);
}
.dis{
    border: 1px solid rgb(193,193,189);
    height: 28px;
    padding: 0.2rem;
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: rgb(168, 168, 167);
}

.offers{
    border: 1px dashed rgb(193,193,189);
    border-radius: 5px;
    margin-top: 0rem;
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
}
.offers > div{
    display: flex;
}

.offers > div > div:nth-child(1){
    width: 1.5rem;
    margin: 0.5rem 1rem 0 0.4rem;
    height: 30px;
    padding: 0.3rem;
    background-color: rgb(107,193,209);
    border-radius: 5px;
}

.colorDiv > div:nth-child(1){
  flex-basis: 10%;
  color: rgb(168, 168, 167);
}
.colorDiv > div:nth-child(2){
    flex-basis: 90%;
}

.imgCont{
    display: flex;
}
.imgCont > div{
    flex-basis: 10%;
    margin-right: 1rem;
}
.colorDiv > div:nth-child(2) img{
width: 100%;
padding: 0.3rem;
}

.colorDiv > div:nth-child(2) img:hover{
    border: 3px solid rgb(37,168,237);
    cursor: pointer;
}

.sizeDiv > div:nth-child(1){
    flex-basis: 10%;
    color: rgb(168, 168, 167);
}

.sizeDiv > div:nth-child(2){
    display: flex;
    flex-basis: 90%;
}
.sizeDiv > div:nth-child(2) > div{    
    width: 2.5rem;
    /* height: 2.5rem; */
    text-align: center;
    padding: 0.5rem 0;
    margin-right: 1rem;
    border: 1px solid rgb(193,193,189);
    border-radius: 5px;
}

.sizeDiv > div:nth-child(2) > div:active{
    border: 1px solid rgb(37,168,237);
}
.btnDiv{
    margin: 2.5rem 10%;
}
.btnDiv > div{
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 0.6rem 0;
    margin-right: 1rem;
    font-size: 1.4rem;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.btnDiv > div:nth-child(1){
    background-color: rgb(51,51,51);
    border: 1px solid rgb(51,51,51);
}
.btnDiv > div:nth-child(1):hover{
    background-color: rgba(51, 51, 51, 0.884);
}
.btnDiv > div:nth-child(2){   
    background-color: rgb(255,28,63);
    border: 1px solid rgb(255,28,63);
}
.icon{
    margin-right: 0.5rem
}
.btnDiv > div:nth-child(2) > div{
    width: 60%;
    display: flex;
    margin: auto;
}
.deliveryDiv{
    margin-top: 5rem;
    color: rgb(168, 168, 167);
}
.deliveryDiv > div:nth-child(1){
    flex-basis: 10%;
}
.deliveryDiv > div:nth-child(2){
    flex-basis: 40%;
}
.deliveryDiv > div:nth-child(3){
    flex-basis: 50%;
}
.pincode{
    height:35px;
    display:flex;
    margin-left: 0.5rem;
    margin-right:2rem
}
.input{
    height:90%;
    padding-left: 1rem;
    font-size:1.2rem;
}
.check{
    height:90%;
    font-size:1rem;
    padding: 0.2rem 1rem;
     color:white;
     background:black;
     cursor:pointer;
}

.suggestions{
    width: 90%;
    margin: 5rem auto;
    background-color: white;
    /* height: 1000px; */
    border: 1px solid rgb(247,247,247);
    
}
.suggestions > p{
    color: rgb(168, 168, 167);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(224, 224, 224);
}
@media screen and (min-width: 700px) and (max-width: 1300px) {
    .cont{
        width: 1200px;
    }
}

@media screen and (max-width: 700px) {
    .main{
        width: 720px;
    }
    .cont{
        width: 700px;
    }
    .heading > div:nth-child(1){
        width: 95%;  
        margin-right: 20px;
    }
    .heading > div:nth-child(1) > p{
        font-size: 1rem;
        
    }
    /* .heading > div:nth-child(2) > div:nth-child(1){
        flex-basis: 70%;
        border: 1px solid rgb(82, 81, 81);
        border-radius: 5px;
        height: 50px;
        margin-right: 0.5rem;
    } */
    .heading > div:nth-child(2) > div:nth-child(1){
        flex-basis: 5%;
    }

    .info > div{
        font-size: 0.7rem;
    }
    .rs{
        font-size: 1rem;
    }
    .dis{
        border: 1px solid rgb(193,193,189);
        height: 22px;
        width: 50px;
        padding: 0.2rem;
        margin-top: 0.3rem;
        font-size: 0.5rem;
    }
    
    .sizeDiv > div:nth-child(2) > div{    
        width: 2rem;
        height: 3.5rem;
        padding: 0.1rem 0;
        margin-right: 1rem;
        border: 1px solid rgb(193,193,189);
        border-radius: 5px;
    }
    .btnDiv > div{
        width: 100px;
        height: 25px;
        font-size: 0.5rem;
        padding: 0.4rem 0;
    }
    .icon{
        margin-right: 0.1rem
    }
    .icon > img{
        width: 15px;
    }
    .offers{
        font-size: 0.5rem;
    }
    .offers > div > div:nth-child(1){
        height: 20px;
    }
    .sizeDiv > div:nth-child(2) > div{
        height: 1rem;
    }
    .pincode{
        height:15px;
        display:flex;
        margin-right:1rem;
        margin-left: 0.5rem;
    }
    .input{
        height:95%;
        padding-left: 1rem;
        font-size:0.6rem;
    }
    .check{
        height: 95%;
        font-size:0.5rem;
        padding: 0.1rem 1rem;
         color:white;
         background:black;
         cursor:pointer;
    }
    .lasth1{
        font-size: 0.8rem;
    }
    .last{
        font-size: 0.6rem;
    }
    
}

