.main{
    width: 100%;
    background-color: rgb(247,247,247);
}

.cont{
    width: 90%;
    margin: 2rem auto;
    background-color: white;
    /* margin-bottom: 2rem; */
    /* border: 1px solid rgb(247,247,247); */
}

/* .cont > div:nth-child(1){
    background-color: rgb(25,188,156);
    padding: 1rem;
    display: flex;
    height: 50px;
    width: 100%;
} */

.notif > div:nth-child(1){
    /* flex-basis: 5%; */
    width: 50px;
    height: 50px;
    background-color: white;
    color: rgb(25,188,156);
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    padding-top: 0rem;
    margin-right: 30px;
}

.notif > div:nth-child(2){
    flex-basis: 80%;
    color: white;
    font-size: 0.2rem;
}
.notif > div:nth-child(3){
    flex-basis: 5%;
    margin-left: auto;
    color: white;
    font-size: 2rem;
    text-align: right;
    cursor: pointer;
}
.cart{
    display: flex;
    width: 105%;
    padding: 3rem;
}
.cart > div:nth-child(1){
    width: 10%;
}

.cart > div:nth-child(2){
    width: 30%;
}
.cart > div:nth-child(3){
    width: 23%;
    margin-right: 1rem;
    border-left: 1px solid rgb(211, 211, 211);
    padding-left: 2rem;
}
.heading{
    color: rgb(193,193,189);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}
.value{
    color: rgb(193,193,189);
    font-size: 1.5rem;
}
.items{
    width: 60px;
    height: 20px;
    border:1px solid rgb(25,188,156);
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    color: rgb(25,188,156);
}
.view{
    font-size:1rem;
}

.cart > div:nth-child(4){
    width: 50%;
    display: flex;
}
.cart > div:nth-child(4) > div{
    height: 40px;
    padding: 0.6rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-radius: 3px;
}
.cart > div:nth-child(4) > div:nth-child(1){
    width: 45%;
    background-color: rgb(223,8,67);
    margin-right: 0.5rem;
    cursor: pointer;
    
}
.cart > div:nth-child(4) > div:nth-child(1):hover{
    background-color: rgb(192, 16, 63)
}
.cart > div:nth-child(4) > div:nth-child(2){
    width: 25%;
    background-color: rgb(51,51,51);
    cursor: pointer;    
}
.cart > div:nth-child(4) > div:nth-child(2):hover{
    background-color: rgba(51, 51, 51, 0.884);
}
.cartTitle{
    display: flex;
    width: 96;
    padding: 1.5rem;
    color: rgb(116, 116, 116);
}
.cartTitle > div:nth-child(1){
    float: left;
}
.cartTitle > div:nth-child(2){
    margin-left: auto;
    font-size: 1.5rem;
    cursor: pointer;
}
.table{
    width: 100%;
    height: 60%;
    max-height: 60%;
    overflow-y: scroll;
}

.table > div{
   display: flex;
   width: 100%;
   padding: 1rem 2.5rem;
}
.table > div:nth-child(1){
    background-color: rgb(247,247,247);
    color: rgb(194,194,194);
    width: 100%;
}
.th > div:nth-child(1){
    width: 33%;
    margin-right: 20px;
    color: rgb(132,132,132);
}
.table > div:nth-child(2){
    color: rgb(132,132,132);
}
.th > div:nth-child(2){
    width: 10%;
}
.th > div:nth-child(3){
    width: 13%;
}
.th > div:nth-child(3) > select{
    border-radius: 5px;
    padding: 0.8rem;
    width: 50%;
    color: rgb(132,132,132);
}
.th > div:nth-child(4){
    width: 35%;
}
.action{
    margin: 0 1rem;
    font-size:0.9rem;
    cursor:pointer;
}

.footer{
    width: 100%;
    height: 30%;
    display: flex;
    background-color: black;
    color: white;
    padding: 2rem 0;
}
.footer > div:nth-child(1){
    width: 40%;
}
.footer > div:nth-child(2){
    width: 30%;
    
}
.footer > div:nth-child(3){
    background-color: rgb(209,32,60);
    width: 20%;
    padding: 1rem;
    height: 55px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;  
    margin-left: auto;
    margin-right: 2rem;
    
}
.footer > div:nth-child(3):hover{
    background-color: rgb(185, 29, 53);
}

@media screen and (min-width: 400px) and (max-width: 1300px) {
    .main{
        width: 1200px;
    }
    .cart > div:nth-child(4){
        width: 300px;
        flex-direction: column;
    }
    .cart > div:nth-child(4) > div:nth-child(1){
        margin-bottom: 0.5rem;
        width: 90%;
    }

    .cart > div:nth-child(4) > div:nth-child(2){
        width: 70%;
    } 
}

@media screen and (max-width: 400px) {
    .main{
        width: 350px
    }
    .cont{
        margin: 0px;
        width: 100%;
    }
    .notif > div:nth-child(2){
        font-size: 0.4rem;
    }
    .cart{
        padding: 1rem;
    }
    .cart > div:nth-child(1){
        width: 100px;
    }
    
    .cart > div:nth-child(2){
        width: 250px;
    }
    .cart > div:nth-child(3){
        width: 250px;
        border-left: 1px solid rgb(211, 211, 211);
        padding-left: 1rem;
    }
    .heading{
        color: rgb(193,193,189);
        font-size: 0.6rem;
        margin-bottom: 0.7rem;
    }
    .value{
        color: rgb(193,193,189);
        font-size: 0.8rem;
    }
    .h4{
        font-size: 0.7rem;
    }
    .items{
        font-size: 0.5rem;
        padding: 0.1rem 0.3rem;

    }
    .view{
        font-size:0.6rem;
    }
    .cart > div:nth-child(4){
        width: 150px;
        flex-direction: column;
    }
    .cart > div:nth-child(4) > div:nth-child(1){
        margin-bottom: 0.5rem;
        width: 90%;
    }

    .cart > div:nth-child(4) > div:nth-child(2){
        width: 70%;
    }
    .cart > div:nth-child(4) > div{
        height: 12px;
        padding: 0.2rem;
        color: white;
        font-size: 0.25rem;
        text-align: center;
        border-radius: 3px;
    }
    .cart > div:nth-child(4) > div:nth-child(1){
        width: 65px;
        background-color: rgb(223,8,67);
        margin-right: 0.3rem;
        cursor: pointer;
        
    }
    .cart > div:nth-child(4) > div:nth-child(2){
        width: 40px;
        background-color: rgb(51,51,51);
        cursor: pointer;    
    }
}