.product{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 70px;

}
.SideBar{
    width: 20%;
}
.ProductDiv{
    width:78%;
}
.CardsDiv{
   
    display: flex;
    flex-wrap: wrap;
}
.Cards{
    width:25%;
}

.rightsortby>select {
    border: none;
    cursor: pointer;
    width: 150px;
}

.rightsortby>select>option {
    cursor: pointer;
    width: 150px;
}
.ProductH_l{
    border: 1px solid rgb(193,193,189);
    width:30%;
    padding:10px;
    border-radius: 5px;
    align-items: flex-end;
   
}
.rightsortby{
    color: rgb(193,193,189)
}