.address{
    display: flex;
    width: 90%;
    margin: auto;
    margin: 50px;
}
.address-container{
    width: 70%;
}
.adrs{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 15px;
    padding-left: 10px;
}
.save-btn{
    border-radius: 3px;
    border: 0;
    padding: 10px 18px;
    background-color: #DA1141;
    color: #fff;
}
.Summary{
    width: 25%;
    margin-left: 5%;
}
.price{
    display:flex;
    justify-content: space-between;
    color: gray
}
.free{
    color: rgb(25, 156, 25)
}
.pay{
    border-top: 1px solid #e2e2e2;
}
.payment{
    color: black
}
.Looading{
    
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform :translate(-50%,-50%);
    padding-top: 250px;
    padding-bottom: 250px
}
.data{
    width:45px
}
.cardDetails{
    display:flex;

}
.cardVerient{
    width:18%;
    border-right:1px solid rgb(231, 228, 228);
    margin-right: 2%;
}
.cardVerient > div{
    cursor: pointer;
    padding: 15px 5px;
    color:gray;
    border-radius: 5px;
   
}
.cardVerient > div:hover{
    background-color: whitesmoke
}
.cardInput{
    margin-top: 15px;

}
.cardInput > div{
    margin-bottom: 10px;
}
.pay-btn{
    height:50px;
    width:50%;
    color: white;
    background-color:#E40046;
    border: 0;
}